@using Microsoft.AspNetCore.Identity
@using NupsiSign.Models.DbSet
@inject SignInManager<User> SignInManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a data-bs-toggle="dropdown" aria-expanded="false" id="manage"
                class="nav-link text-white nav-link dropdown-toggle" title="Manage">
                Hello @User!.Identity!.Name!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                        Sair
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-controller="Account" asp-action="login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" id="register" asp-controller="Account" asp-action="register">Create a Account</a>
        </li>
    }
</ul>
